<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilive.delivery.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.mobilive.delivery.client.DeliveryClientApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mobilive.delivery.client.view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.OrderInfoActivity"
            android:icon="@drawable/moto"
            android:label="@string/title_activity_order_info"
            android:parentActivityName="com.mobilive.delivery.client.view.activity.OrderInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.SplashScreenActivity"
            android:icon="@drawable/moto"
            android:label="@string/buttonlogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <category android:name="android.intent.category.LAUNCHER" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.LoginActivity"
            android:icon="@drawable/moto"
            android:label="@string/buttonlogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.PreviewActivity"
            android:label="@string/title_activity_preview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.listview.SelectAdress"
            android:label="@string/title_activity_select_adress"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.mobilive.delivery.client.view.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.AddAddressActivity"
            android:label="@string/title_activity_test"
            android:parentActivityName="com.mobilive.delivery.client.view.listview.SelectAdress"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.ProductInfoActivity"
            android:label="@string/title_activity_product_info"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.LoadingActivity"
            android:label="@string/title_activity_loading" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.RegisterConfirmationActivity"
            android:label="@string/title_activity_register_confirmation"
            android:parentActivityName="com.mobilive.delivery.client.view.activity.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.ThankYouActivity"
            android:label="@string/title_activity_thank_you" >
        </activity>
        <activity
            android:name="com.mobilive.delivery.client.view.activity.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password" 
            android:parentActivityName="com.mobilive.delivery.client.view.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>